{% extends 'base.html' %}


{% block content %}

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-8">
        <h2>{{ client.name_of_the_organization }}</h2>
            <p>{{ client.address }}</p>
            <p>{{ client.contact_person }}</p>
            <p>{{ client.phone_number }}</p>
            <form action="{{ data.get_update_url }}" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    {{field.label}}
                    {{field}}
                {% endfor %}

                {% if form %}
                <button class="btn btn-primary" type="submit">Сохранить</button>
                <a class="btn btn-danger" type="submit" href="{{ data.get_delete_url }}">Удалить</a>
                {% endif %}
               
           </form>
        </div>
    </div>

 
</div>


{% endblock content %}