{% extends 'base.html' %}


{% block content %}

            
    </div>
    <h1>Договор</h1>
    {% if user.is_superuser %} 
    {% else %}
    <a class="btn btn-primary mt-3" href = "{% url 'contract_create_url' %}">Добавить</a>
    {% endif %} 
    <div class="row">
      <div class="card card-body">
        <form method="get">
          {{myFilter.form}}
          <button class="btn btn-primary" type"submit">
            Поиск
          </button>
        </form>
      </div>
    <div class="col-md-12">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Номер договора</th>
                <th scope="col">Клиент</th>
                <th scope="col">Дата</th>
                <th scope="col">Услуга поддержки</th>
                <th scope="col">Рабочая группа</th>
                <th scope="col">Используемые средства</th>
                <th scope="col">Количество</th> 
                <th scope="col">Цена</th> 
                <th scope="col">Сумма</th>             
                <th scope="col"></th>
              </tr>
            </thead> 
            <tbody>
              
                {% for contract in contracts %}
                <tr>
                
                    <td>{{ contract.name }}</td>
                    <td>{{ contract.fk_clients }}</td>
                    <td>{{ contract.date }}</td> 
                    <td>{{ contract.fk_support_services }}</td>
                    <td>{{ contract.fk_employee }}</td>
                    <td>{{ contract.fk_Scope_of_service }}
                    <td>{{ contract.quantity }}</td>
                    <td>{{ contract.cost }}</td>
                    <td>{{ contract.sum }}</td>   
                {% if user.is_superuser %} 
                {% else %} 
                    <th scope="col"><a class="btn btn-info" href="{{ contract.get_update_url }}">Открыть</a></th>
                {% endif %}  
                
                  </tr>
                {% endfor %}
            </tbody>
          </table>
        <div class='col-md-12' align="right">
          <a href="{% url 'Contract_export-excel' %}" class="btn btn-primary">Экспорт</a>
          <a href="{% url 'Contract_report-pdf' %}" class="btn btn-primary">Отчет</a>
        </div>
      </div>
    </div>
    <hr>
    <br>

    <div class="pagination">
<span class="step-links">
{% if contracts.has_previous %}
<a href="?page={{ contracts.previous_page_number }}">Назад</a>
{% endif %}

<span class="current">
Стр. {{ contracts.number }} из {{ contracts.paginator.num_pages }}.
</span>

{% if contracts.has_next %}
<a href="?page={{ contracts.next_page_number }}">Вперед</a>
{% endif %}
</span>
</div>
{% endblock content %}